@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard GOV";
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 62.5%;
}

ul, li {
    list-style: none;
}

button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

a {
    color: #0076FF;
}

a:visited {
    color: purple;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #a9a8a8;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bebebe;
}

::-webkit-scrollbar-thumb:active {
    background-color: #8a8a8a;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease;
    background-color: #0076FF;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.6rem;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/common/paper_bg.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s ease;
    z-index: -1;
}

body.paperBG {
    background-color:rgba(0,114,255,0);
    color: #333333;
}

body.paperBG::after {
    opacity: 1;
}

body.paperBG header {
    border-bottom: 1px solid #8b8b8b;
}

body.paperBG footer {
    border-top: 1px solid #8b8b8b;
}

header {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: center;
}

header .center {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.gnb ul {
    display: flex;
    border-radius: 99px;
    border: 1px solid #a9a8a8;
    overflow: hidden;
}

.gnb li button {
    display: block;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1;
    padding: 1.2rem;
    min-width: 100px;
    border-right: 1px solid #a9a8a8;
    background-color: #ffffff;
}

.gnb li:last-child button {
    border-right: none;
}

.gnb li button:hover {
    background-color: #ebebeb;
}

.gnb li button:active {
    background-color: #d3d3d3;
}

header .center > div, footer .center > div {
    font-size: 2.4rem;
}

header .copyright {
    display: none;
}

#ham_btn {
    display: none;
}

footer {
    width: 100%;
    height: 10rem;
    border-top: 1px solid #ebebeb;
    padding-top: 1.4rem;
    display: flex;
    justify-content: center;
}

footer .center {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

footer .center .copyright {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}


@media screen and (max-width:1920px) {
    header {
        height: 8rem;
    }

    header .center {
        width:80%;
    }

    footer {
        height: 8rem;
    }

    footer .center {
        width: 80%;
    }

    header .center > div, footer .center > div {
        font-size: 2rem;
    }
}

@media screen and (max-width:1440px) {
    header .center {
        width: 92%;
    }

    footer .center {
        width: 92%;
    }
}

@media screen and (max-width:768px) {
    ::-webkit-scrollbar {
        width: 4px;
    }

    header {
        padding-bottom: unset;
        height: 6rem;
    }

    header .center {
        width: calc(100% - 4rem);
        align-items: center;
    }

    header .center .right {
        display: none;
    }

    header .center > div, footer .center > div {
        font-size: 1.6rem;
    }

    header .center .gnb {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        transition: left 0.5s ease;
        z-index: 2;
        background-color: #333333;
        display: flex;
        flex-direction: column;
    }

    header .center .gnb ul {
        flex-direction: column;
        width: 100%;
        border: none;
        border-radius: unset;
    }

    .gnb li button {
        width: 100%;
        border-right: none;
        border-bottom:1px solid #a9a8a8;
        padding: 3rem;
    }

    #ham_btn {
        width: 3.2rem;
        height: 3.2rem;
        background-image: url(../img/common/ham.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ham_btn.white {
        background-image: url(../img/common/ham_white.png);
    }

    header .copyright {
        color: #bebebe;
        text-align: center;
        font-size: 1.4rem;
        margin-top: auto;
        margin-bottom: 10px;
        padding: 0 20px;
        display: block;
    }

    footer {
        padding-top: unset;
        height: 6rem;
    }

    footer .center {
        width: calc(100% - 4rem);
        align-items: center;
    }

    footer .center .copyright {
        display: none;
    }
}